%h3 blogs by category
%ul
  %li= link_to "All Blogs", all_blogs_path
  - Blog.available_categories.each do |c|
    %li= link_to Blog::Categories::LABELS[c], all_blogs_path(:category => c)
%h3 blogs by date
%ul
  %li= link_to "All Blogs", all_blogs_path
  - unless @months.nil?
    - @months.each do |m|
      %li= link_to m, all_blogs_path(:month => m)
