.leftcol
  %h3 Content
  - form_for @webpage, :url => webpage_path(@webpage), :html => {:method => :put, :multipart => true} do |f|
    = render :partial => 'form', :locals => {:f => f}
    .formfield
      = f.submit "Update #{@webpage.page_alias.capitalize} Page"
.rightcol
  #page-images
    %h3 Project Images
    = render :partial => "/images/slideshow_edit", :locals => {:object => @webpage}

